{% load static %}

<footer class="footer py-4 mt-5" style="border-top: 1px solid lightgray;">
    <div class="container d-flex flex-row justify-content-between mb-2">
        <a href="https://vk.com/devmanorg">
            <img src="{% static 'foodplan/media/vk.png' %}" height="40" width="auto" alt="">
        </a>
        <div>
            <a href="#" onclick="javascript:alert('Страница находится в стадии разработки... :)'); return false;" class="link-dark mx-1" style="text-decoration: none;"><b>Виды меню</b></a>
            <a href="#" onclick="javascript:alert('Страница находится в стадии разработки... :)'); return false;" class="link-dark mx-1" style="text-decoration: none;"><b>Блог</b></a>
            <a href="#" onclick="javascript:alert('Страница находится в стадии разработки... :)'); return false;" class="link-dark mx-1" style="text-decoration: none;"><b>Контакты</b></a>
        </div>
    </div>
    <div class="container">
        <h6 class="link-secondary text-center">
            <a href="#" onclick="javascript:alert('Страница находится в стадии разработки... :)'); return false;" class="link-secondary me-2">Политика конфиденциальности</a>
            <a href="#" onclick="javascript:alert('Страница находится в стадии разработки... :)'); return false;" class="link-secondary">Пользовательское соглашение</a></h6>
        <h6 class="link-secondary text-center">© Devman 2022. All right reserved.</h6>
    </div>
</footer>