{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link
        href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous"
    >
    <link rel="stylesheet" href="{% static 'foodplan/style.css' %}"/>
    <title>Foodplan 2021 - Меню на неделю FOODPLAN</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://widget.cloudpayments.ru/bundles/cloudpayments.js"></script>
</head>

<body>
    <header>
        <nav class="navbar navbar-expand-md navbar-light fixed-top navbar__opacity">
            <div class="container">
                <a class="navbar-brand" href="/">
                    <img src="{% static 'foodplan/media/logo.8d8f24edbb5f.svg' %}" height="55" width="189" alt="">
                </a>
                <h3 class="text-secondary mt-2 me-2">Стоимость: <span id='showSum'></span> ₽</h3>
                

                {% comment %} <button type="submit" id="btnContinue" class="btn btn-sm btn-outline-success foodplan_green foodplan__border_green">Оплатить</button> {% endcomment %}

            </div>
        </nav>
    </header>

    <main style="margin-top: calc(2rem + 85px);">
        <section>
            <div class="container">
                <h1><strong class="foodplan_green">1 шаг </strong>до первого меню</h1>
                <h5 class="text-secondary mb-3">Вам будет доступно 4 типа меню: Классическое, Низкоуглеводное, Вегетарианское и Кето.</h5>
                <div class="row mb-5">
                    <div class="col-6 col-md-3">
                        <!-- <img src="img/menu_classical.png" alt="" class="w-100"> -->
                        <img src="{% static 'foodplan/media/menu_classical.png' %}" alt="" class="w-100">
                    </div>
                    <div class="col-6 col-md-3">
                        <!-- <img src="img/menu_nizkougl.png" alt="" class="w-100"> -->
                        <img src="{% static 'foodplan/media/menu_nizkougl.png' %}" alt="" class="w-100">
                    </div>
                    <div class="col-6 col-md-3">
                        <!-- <img src="img/menu_veg.png" alt="" class="w-100"> -->
                        <img src="{% static 'foodplan/media/menu_veg.png' %}" alt="" class="w-100">
                    </div>
                    <div class="col-6 col-md-3">
                        <!-- <img src="img/menu_keto.png" alt="" class="w-100"> -->
                        <img src="{% static 'foodplan/media/menu_keto.png' %}" alt="" class="w-100">
                    </div>
                </div>
                <h2><strong>Выберите подходящий тариф</strong></h2>
            
                <form id='subsform'  method="POST">
                    {% csrf_token %}
                    <table class="table text-center text-truncate mb-5">
                        <tbody>
                            <tr>
                                <th class="text-start" scope="row" >Срок подписки</th>
                                <td>
                                    <select onchange='getSubsPeriod(this)' name='subs_period' class="form-select">
                                      {% for period in subscription_periods %}
                                        {% if forloop.first %}
                                          <option id='initialPeriod' value="{{ period.time_intervals }}" selected>{{ period }}</option>
                                        {% else %}
                                          <option value="{{ period.time_intervals }}">{{ period }}</option>
                                        {% endif %}
                                      {% endfor %}
                                    </select>
                                    <script>
                                        function getSubsPeriod(select) {
                                            const option = select.querySelector(`option[value="${select.value}"]`)
                                            document.getElementById('showSum').innerHTML = option.value * 100
                                            // const pay_sum = document.getElementById('showSum').innerHTML
                                            // console.log(pay_sum)
            
                                        } 
                                    </script>
                                </td>
                            </tr>

                            <tr>
                                <th scope="row" class="text-start">Завтраки</th>
                                <td>
                                    <select name="meals" class="form-select">
                                        <option value="На завтрак" selected>&#10004;</option>
                                        <option value="">&#10008;</option>
                                    </select>
                                </td>
                            </tr>

                            <tr>
                                <th scope="row" class="text-start">Обеды</th>
                                <td>
                                    <select name="meals" class="form-select">
                                        <option value="На обед" selected>&#10004;</option>
                                        <option value="">&#10008;</option>
                                    </select>
                                </td>
                            </tr>

                            <tr>
                                <th scope="row" class="text-start">Ужины</th>
                                <td>
                                    <select name="meals" class="form-select">
                                        <option value="На ужин" selected>&#10004;</option>
                                        <option value="">&#10008;</option>
                                    </select>
                                </td>
                            </tr>

                            <tr>
                                <th scope="row" class="text-start">Десерты</th>
                                <td>
                                    <select name="meals" class="form-select">
                                        <option value="Десерты" selected>&#10004;</option>
                                        <option value="">&#10008;</option>
                                    </select>
                                </td>
                            </tr>

                            <tr>
                                <th scope="row" class="text-start">Праздничное меню</th>
                                <td>
                                    <select name="meals" class="form-select">
                                        <option value="Праздничное меню" selected>&#10004;</option>
                                        <option value="">&#10008;</option>
                                    </select>
                                </td>
                            </tr>

                            <tr>
                                <th scope="row" class="text-start">Кол-во персон</th>
                                <td>
                                    <select name="person_amount" class="form-select">
                                        <option value="1" selected>1</option>
                                        <option value="2">2</option>
                                        <option value="3">3</option>
                                    </select>
                                </td>
                            </tr>

                            <tr>
                                <th scope="row" class="text-start">Особенности</th>
                                <td>
                                        {% for restriction_tag in restriction_tags %}
                                          <div class="form-check d-flex justify-content-start">
                                              <input class="form-check-input me-1" type="checkbox" value="{{ restriction_tag }}" name="features">
                                              <label class="form-check-label" for="allergy1">
                                                  {{ restriction_tag }}
                                              </label>
                                          </div>
                                        {% endfor %}
<!--                                    <div class="form-check d-flex justify-content-start">-->
<!--                                        <input class="form-check-input me-1" type="checkbox" value="без глютэна" name="features">-->
<!--                                        <label class="form-check-label" for="allergy1">-->
<!--                                            -->
<!--                                        </label>-->
<!--                                    </div>-->
<!--                                    <div class="form-check d-flex justify-content-start">-->
<!--                                        <input class="form-check-input me-1" type="checkbox" value="без сахара" name="features">-->
<!--                                        <label class="form-check-label" for="allergy2">-->
<!--                                            без сахара-->
<!--                                        </label>-->
<!--                                    </div>-->
<!--                                    <div class="form-check d-flex justify-content-start">-->
<!--                                        <input class="form-check-input me-1" type="checkbox" value="вегетарианское" name="features">-->
<!--                                        <label class="form-check-label" for="allergy3">-->
<!--                                            вегетарианское-->
<!--                                        </label>-->
<!--                                    </div>-->

                                </td>
                            </tr>
                        </tbody>
                    </table>

                    
                </form>
                <div class="d-flex justify-content-center my-5">
                    <button
                        id="btnContinue"
                        
                        class="btn btn-outline-success foodplan_green foodplan__border_green w-50"
                    >
                    Добавить подписку
                    </button>
                </div>
                

                <!-- <form class="card d-flex flex-row align-items-baseline mb-5 p-3 foodplan__bg_grey">
                    <label for="exampleInputPassword1" class="form-label me-2">Промокод</label>
                    <input type="password" class="form-control me-2" id="password">
                    <button type="submit" class="btn btn-outline-success foodplan_green foodplan__border_green">Применить</button>
                </form> -->
                {% comment %} <div class="d-flex justify-content-center my-5">
                    <button type="submit" id="btnContinue"
                        class="btn btn-outline-success foodplan_green foodplan__border_green w-50">Добавить подписку</button>
                    <script>
                        document.getElementById('btnContinue').addEventListener('click', () => {
                            document.getElementById('TableSubmit').click()
                        })
                    </script>
                </div> {% endcomment %}
            </div>
        </section>
    </main>

    {% include 'includes/footer.html' %}

    <script>
        document.addEventListener("DOMContentLoaded", ready);
        function ready(event) {
            const initial_period = document.getElementById('initialPeriod').value
            document.getElementById('showSum').innerHTML = initial_period * 100
        }
    </script>

    <script
        src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"
    ></script>

    <script>
        this.pay = function () {
            var pay_sum = Number(document.getElementById('showSum').innerHTML)

            var widget = new cp.CloudPayments();
            
            widget.pay('auth', // или 'charge'
                { //options
                    publicId: 'test_api_00000000000000000000001', //id из личного кабинета
                    description: 'Оплата товаров в example.com', //назначение
                    // amount: document.getElementById('showSum').innerHTML, //сумма
                    amount: pay_sum, //сумма
                    currency: 'RUB', //валюта
                    accountId: 'user@example.com', //идентификатор плательщика (необязательно)
                    invoiceId: '1234567', //номер заказа  (необязательно)
                    email: 'user@example.com', //email плательщика (необязательно)
                    skin: "mini",
                    data: {
                        myProp: 'myProp value'
                    }
                },
                {
                    onSuccess: function (options) { // success
                        $('#subsform').submit()
                    },
                    onFail: function (reason, options) { // fail
                        //действие при неуспешной оплате
                    },
                    onComplete: function (paymentResult, options) { //Вызывается как только виджет получает от api.cloudpayments ответ с результатом транзакции.
                        //например вызов вашей аналитики Facebook Pixel
                    }
                }
            )
        };

        $('#btnContinue').click(pay);
    </script>
</body>
