{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link
        href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous"
    >
    <link rel="stylesheet" href="{% static 'foodplan/style.css' %}"/>
    <title>Foodplan 2021 - Меню на неделю FOODPLAN</title>
</head>

<body>
    <header>
        <nav class="navbar navbar-expand-md navbar-light fixed-top navbar__opacity">
            <div class="container">
                <a class="navbar-brand" href="/">
                    <img src="{% static 'foodplan/media/logo.8d8f24edbb5f.svg' %}" height="55" width="189" alt="">
                </a>
                {% comment %} <h3 class="text-secondary mt-2 me-2">Стоимость: 00000₽</h3> {% endcomment %}

                {% comment %} <button type="submit" id="btnContinue" class="btn btn-sm btn-outline-success foodplan_green foodplan__border_green">Оплатить</button> {% endcomment %}

            </div>
        </nav>
    </header>

    <main style="margin-top: calc(2rem + 85px);">
        <section>
            <div class="container">
                <h1><strong class="foodplan_green">1 шаг </strong>до первого меню</h1>
                <h5 class="text-secondary mb-3">Вам будет доступно 4 типа меню: Классическое, Низкоуглеводное, Вегетарианское и Кето.</h5>
                <div class="row mb-5">
                    <div class="col-6 col-md-3">
                        <!-- <img src="img/menu_classical.png" alt="" class="w-100"> -->
                        <img src="{% static 'foodplan/media/menu_classical.png' %}" alt="" class="w-100">
                    </div>
                    <div class="col-6 col-md-3">
                        <!-- <img src="img/menu_nizkougl.png" alt="" class="w-100"> -->
                        <img src="{% static 'foodplan/media/menu_nizkougl.png' %}" alt="" class="w-100">
                    </div>
                    <div class="col-6 col-md-3">
                        <!-- <img src="img/menu_veg.png" alt="" class="w-100"> -->
                        <img src="{% static 'foodplan/media/menu_veg.png' %}" alt="" class="w-100">
                    </div>
                    <div class="col-6 col-md-3">
                        <!-- <img src="img/menu_keto.png" alt="" class="w-100"> -->
                        <img src="{% static 'foodplan/media/menu_keto.png' %}" alt="" class="w-100">
                    </div>
                </div>
                <h2><strong>Выберите подходящий тариф</strong></h2>
            
                <form  method="POST">
                    {% csrf_token %}
                    <table class="table text-center text-truncate mb-5">
                        <tbody>
                            <tr>
                                <th class="text-start" scope="row" >Срок подписки</th>
                                <td>
                                    <select name='subs_period' class="form-select">
                                        <option value="3" selected>3 месяца</option>
                                        <option value="12">12 месяцев</option>
                                    </select>
                                </td>
                            </tr>

                            <tr>
                                <th scope="row" class="text-start">Завтраки</th>
                                <td>
                                    <select name="meals" class="form-select">
                                        <option value="завтрак" selected>&#10004;</option>
                                        <option value="">&#10008;</option>
                                    </select>
                                </td>
                            </tr>

                            <tr>
                                <th scope="row" class="text-start">Обеды</th>
                                <td>
                                    <select name="meals" class="form-select">
                                        <option value="обед" selected>&#10004;</option>
                                        <option value="">&#10008;</option>
                                    </select>
                                </td>
                            </tr>

                            <tr>
                                <th scope="row" class="text-start">Ужины</th>
                                <td>
                                    <select name="meals" class="form-select">
                                        <option value="ужин" selected>&#10004;</option>
                                        <option value="">&#10008;</option>
                                    </select>
                                </td>
                            </tr>

                            <tr>
                                <th scope="row" class="text-start">Десерты</th>
                                <td>
                                    <select name="meals" class="form-select">
                                        <option value="десерт" selected>&#10004;</option>
                                        <option value="">&#10008;</option>
                                    </select>
                                </td>
                            </tr>

                            <tr>
                                <th scope="row" class="text-start">Праздничное меню</th>
                                <td>
                                    <select name="meals" class="form-select">
                                        <option value="праздничное меню" selected>&#10004;</option>
                                        <option value="">&#10008;</option>
                                    </select>
                                </td>
                            </tr>

                            <tr>
                                <th scope="row" class="text-start">Кол-во персон</th>
                                <td>
                                    <select name="person_amount" class="form-select">
                                        <option value="1" selected>1</option>
                                        <option value="2">2</option>
                                        <option value="3">3</option>
                                    </select>
                                </td>
                            </tr>

                            <tr>
                                <th scope="row" class="text-start">Особенности</th>
                                <td>
                                    <div class="form-check d-flex justify-content-start">
                                        <input class="form-check-input me-1" type="checkbox" value="без глютэна" name="features">
                                        <label class="form-check-label" for="allergy1">
                                            без глютэна
                                        </label>
                                    </div>
                                    <div class="form-check d-flex justify-content-start">
                                        <input class="form-check-input me-1" type="checkbox" value="без сахара" name="features">
                                        <label class="form-check-label" for="allergy2">
                                            без сахара
                                        </label>
                                    </div>
                                    <div class="form-check d-flex justify-content-start">
                                        <input class="form-check-input me-1" type="checkbox" value="вегетарианское" name="features">
                                        <label class="form-check-label" for="allergy3">
                                            вегетарианское
                                        </label>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>

                    <div class="d-flex justify-content-center my-5">
                        <button
                            id="btnContinue"
                            type="submit"
                            value="Send"
                            class="btn btn-outline-success foodplan_green foodplan__border_green w-50"
                        >
                        Добавить подписку
                        </button>
                    </div>
                </form>

                <!-- <form class="card d-flex flex-row align-items-baseline mb-5 p-3 foodplan__bg_grey">
                    <label for="exampleInputPassword1" class="form-label me-2">Промокод</label>
                    <input type="password" class="form-control me-2" id="password">
                    <button type="submit" class="btn btn-outline-success foodplan_green foodplan__border_green">Применить</button>
                </form> -->
                {% comment %} <div class="d-flex justify-content-center my-5">
                    <button type="submit" id="btnContinue"
                        class="btn btn-outline-success foodplan_green foodplan__border_green w-50">Добавить подписку</button>
                    <script>
                        document.getElementById('btnContinue').addEventListener('click', () => {
                            document.getElementById('TableSubmit').click()
                        })
                    </script>
                </div> {% endcomment %}
            </div>
        </section>
    </main>

    {% include 'includes/footer.html' %}

    <script
        src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"
    ></script>
</body>
